<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cash.just.atm">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application>
        <activity android:name="cash.just.atm.AtmActivity" android:screenOrientation="portrait"
            android:theme="@style/CashUI.Theme"/>
        <activity android:name="cash.just.atm.StatusActivity" android:screenOrientation="portrait"
            android:theme="@style/CashUI.Theme.Dialog"/>

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key"/>
    </application>
</manifest>