<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cash.just.atm">

    <application>
        <activity android:name="cash.just.atm.AtmActivity"
            android:theme="@style/CashUI"/>
        <activity android:name="cash.just.atm.StatusActivity"
            android:theme="@style/CashUI.Dialog"/>

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key"/>
    </application>
</manifest>